# Analyze Data

## Summarize Data

In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
from acquire_prepare import acquire_oil
from acquire_prepare import prep_data
import numpy as np
import pandas as pd

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import sys # used in command to make entire array print by default
import seaborn as sns
from scipy.stats import iqr

# Modeling
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from scipy import stats
import statsmodels.api as sm
from sklearn.model_selection import train_test_split


from acquire_prepare import acquire_oil
from acquire_prepare import prep_data
from explore import xgb_rank

In [2]:
df = acquire_oil()
df = prep_data(df,'midland')

### Data Structure

In [3]:
df.shape

(6164, 61)

## Visualize Data

In [4]:
df.head(3).T

,33,53,69
api14,42173372040000,42329332720000,42329344240000
lease_name,DANIEL -28-,TEXACO C,SCHARBAUER CLARENCE ET AL
well_number,1D,1,1H
county,GLASSCOCK,MIDLAND,MIDLAND
direction,Vertical,Horizontal,Horizontal
status,Inactive,Active,Inactive
oper,energen resources corporation,xto energy incorporated,chevron
multi_well_lease,False,False,True
major_phase,OIL,OIL,OIL
formation,SPRABERRY,DEVONIAN,STRAWN
proppant_ppf,1040.52,97.6773,20.2902
prod_method,Pumping,Flowing,Pumping
frac_fluid_gpf,1577.2,64.7034,51.821
gross_perfs,1530,2411,9857
frac_stages,1,0,0
frac_fluid_type,Other,Freshwater,Acid
first_prod,2014-03-01 00:00:00,1995-08-01 00:00:00,2001-09-01 00:00:00
last_prod,2018-07-01 00:00:00,2019-03-01 00:00:00,2005-11-01 00:00:00
oil_gravity,0,0,0
peak_boepd,185.963,158.543,35.3536
oil_hist,64.911,86.548,7.494
gas_hist,198.317,429.612,61.445
gor_hist,3055.21,4963.86,8199.23
ip90_boeqpd,134.408,80.4547,18.8242
tvd,12698,12491,12387
sur_lat,31.6677,31.714,32.0099
sur_long,-101.569,-102.119,-102.208
well_id,94629,145451,145532
mid_point_lat,31.6677,31.714,31.9987
mid_point_long,-101.569,-102.123,-102.205
...,...,...,...
clusterid,NaN,NaN,NaN
recovery,97.9638,151.978,17.7348
recovery_per_foot,64.0286,63.0354,1.79921
months_active,52,283,50
recovery_per_month,1883.92,537.026,354.697
lateral_class,two,three,ten
vintage,2014,1995,2001
vintage_bin,5,3,4
encoded_direction,1,0,0
encoded_frac_fluid_type,5,2,0
encoded_county,7,14,14
encoded_oper,54,183,27
encoded_formation,18,5,19
encoded_lateral_class,13,11,9
scaled_direction,1,0,0
scaled_frac_fluid_type,0.625,0.25,0
scaled_county,0.35,0.7,0.7
scaled_oper,0.295082,1,0.147541
scaled_formation,0.62069,0.172414,0.655172
scaled_lateral_class,1,0.846154,0.692308
scaled_proppant_ppf,0.261933,0.0243378,0.00483636
scaled_frac_fluid_gpf,0.526034,0.021439,0.0171412
scaled_gross_perfs,0.112396,0.177285,0.725713
scaled_frac_stages,0.0142857,0,0
scaled_oil_gravity,0,0,0
scaled_gor_hist,0.152996,0.248581,0.410609
scaled_tvd,1,0.983698,0.975508
scaled_mid_point_lat,0.331117,0.347362,0.447403
scaled_mid_point_long,0.485289,0.159742,0.111628
scaled_vintage,0.933333,0.616667,0.716667

### Attribute Histograms

In [5]:
ranked_features = xgb_rank(df, df.recovery)
ranked_features

['oil_gravity',
 'gross_perfs',
 'vintage',
 'mid_point_lat',
 'formation',
 'tvd',
 'mid_point_long']

In [ ]:
# plot the important features #
# fig, ax = plt.subplots(figsize=(12,8))
# xgb.plot_importance(model, max_num_features=50, height=0.8, ax=ax)
# plt.show()