In [1]:
import pandas as pd
from acquire_prepare import acquire_oil
from acquire_prepare import prep_data

In [2]:
df = acquire_oil()
df = prep_data(df)
df.shape

(16250, 30)

# Analyze Data

## Summarize Data

### Data Structure

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16250 entries, 0 to 19495
Data columns (total 30 columns):
api14                 16250 non-null int64
type                  16250 non-null category
status                16250 non-null category
major_phase           16250 non-null category
formation             16229 non-null object
proppant_ppf          12018 non-null float64
prod_method           16250 non-null category
frac_fluid_gpf        14133 non-null float64
lateral_len           16250 non-null float64
frac_stages           15056 non-null float64
frac_fluid_type       16066 non-null category
first_prod            16250 non-null datetime64[ns]
last_prod             16250 non-null datetime64[ns]
oil_gravity           15817 non-null float64
peak_boepd            16250 non-null float64
oil_hist              16250 non-null float64
gas_hist              16250 non-null float64
gor_hist              15597 non-null float64
ip90_boeqpd           16250 non-null float64
landing_depth         16072 non-null float64
sur_lat               16250 non-null float64
sur_long              16250 non-null float64
well_id               16250 non-null int64
mid_point_lat         16250 non-null float64
mid_point_long        16250 non-null float64
recovery              16250 non-null float64
recovery_per_foot     16250 non-null float64
months_active         16250 non-null int64
recovery_per_month    16250 non-null float64
vintage               16250 non-null int64
dtypes: category(5), datetime64[ns](2), float64(18), int64(4), object(1)
memory usage: 3.3+ MB

In [4]:
df.sample(10)

,api14,type,status,major_phase,formation,proppant_ppf,prod_method,frac_fluid_gpf,lateral_len,frac_stages,...,sur_lat,sur_long,well_id,mid_point_lat,mid_point_long,recovery,recovery_per_foot,months_active,recovery_per_month,vintage
13893,42383378050000,Horizontal,Inactive,OIL,WOLFCAMP,1143.089480,Gas Lift,1332.148190,7380.0,0.0,...,31.280827,-101.539728,99589,31.291523,-101.539522,1.355500,0.183672,1,1355.500000,2007
10742,42329408620000,Horizontal,Active,OIL,WOLFCAMP,1231.802000,Gas Lift,1741.899540,7597.0,0.0,...,31.771824,-101.952489,145588,31.782429,-101.956713,1532.109593,201.672975,28,54718.199738,2016
9487,42329359030000,Vertical,Inactive,OIL,SPRABERRY UPPER,300.107056,Pumping,308.235046,2055.0,0.0,...,31.692475,-102.187394,154494,31.692475,-102.187394,42.577000,20.718735,93,457.817204,2008
2,30005208100100,Horizontal,Active,OIL,SAN ANDRES D,NaN,Pumping,4.792332,626.0,0.0,...,33.654138,-103.811557,141203,33.654900,-103.811772,10.286000,16.431310,161,63.888199,2005
2246,42135412800000,Horizontal,Active,OIL,TUBB,421.975464,Pumping,214.765930,3422.0,0.0,...,31.862681,-102.734947,141476,31.868478,-102.736773,80.681670,23.577344,84,960.496069,2012
14216,42383384490000,Horizontal,Active,OIL,WOLFCAMP,1963.860470,Gas Lift,1305.350590,6393.0,0.0,...,31.268258,-101.573417,148585,31.278025,-101.573624,84.747004,13.256218,56,1513.339361,2014
14146,42383383630000,Horizontal,Inactive,OIL,WOLFCAMP,1086.137570,Pumping,1395.916380,7964.0,0.0,...,31.504678,-101.430514,99759,31.493120,-101.431313,217.899000,27.360497,56,3891.053571,2013
4639,42227018900001,Vertical,Inactive,OIL,GLORIETA,350.877200,Pumping,188.596500,114.0,0.0,...,32.108024,-101.245249,156075,32.108024,-101.245249,1.749000,15.342105,33,53.000000,2011
44,30005290830000,Horizontal,Active,OIL,WOLFCAMP,68.162390,Pumping,105.448715,4680.0,0.0,...,33.034942,-103.783851,141820,33.035632,-103.790912,171.058168,36.550891,118,1449.645492,2009
13315,42383358190000,Vertical,Inactive,OIL,SPRABERRY UPPER,74.122345,Pumping,208.469421,2305.0,0.0,...,31.304762,-101.620064,154718,31.304762,-101.620064,0.672167,0.291612,4,168.041667,2006

### Data Distributions

In [5]:
print (df.apply(lambda x: x.nunique()))

api14                 16033
type                      2
status                    2
major_phase               3
formation               179
proppant_ppf          11670
prod_method               9
frac_fluid_gpf        13297
lateral_len            6827
frac_stages              65
frac_fluid_type          10
first_prod              622
last_prod               438
oil_gravity             245
peak_boepd            14894
oil_hist              15395
gas_hist              15203
gor_hist              15589
ip90_boeqpd           15633
landing_depth          5984
sur_lat               15560
sur_long              15764
well_id               16250
mid_point_lat         15900
mid_point_long        15913
recovery              16182
recovery_per_foot     16237
months_active           565
recovery_per_month    16088
vintage                  63
dtype: int64

In [6]:
df.describe()

,api14,proppant_ppf,frac_fluid_gpf,lateral_len,frac_stages,oil_gravity,peak_boepd,oil_hist,gas_hist,gor_hist,...,sur_lat,sur_long,well_id,mid_point_lat,mid_point_long,recovery,recovery_per_foot,months_active,recovery_per_month,vintage
count,1.625000e+04,1.201800e+04,1.413300e+04,16250.000000,15056.000000,15817.000000,16250.000000,16250.000000,16250.000000,1.559700e+04,...,16250.000000,16250.000000,16250.000000,16250.000000,16250.000000,16250.000000,16250.000000,16250.000000,1.625000e+04,16250.000000
mean,4.220174e+13,2.409546e+03,2.118496e+03,4170.744677,2.173618,3.412634,429.991144,122.782936,454.575591,4.589510e+06,...,31.724644,-102.157757,140956.327877,31.724889,-102.157851,190.474018,431.389005,89.301600,inf,2007.973292
std,1.110139e+12,7.513996e+04,6.832595e+04,3108.757709,7.677189,12.667286,470.398824,179.474173,1319.099721,4.867718e+08,...,0.536802,0.827376,19152.058603,0.536721,0.827368,345.909094,5313.508554,102.959469,NaN,11.022779
min,3.000521e+13,2.531144e-01,0.000000e+00,1.000000,0.000000,0.000000,0.065754,0.000000,0.000000,0.000000e+00,...,30.233049,-104.533822,22866.000000,30.232985,-104.532366,0.000000,0.000000,0.000000,0.000000e+00,1955.000000
25%,4.222701e+13,3.355705e+02,1.366258e+02,1510.250000,0.000000,0.000000,59.992110,20.400750,50.121000,1.367160e+03,...,31.380880,-102.660748,142531.250000,31.382211,-102.659731,33.157084,14.667256,33.000000,4.380776e+02,2004.000000
50%,4.232934e+13,1.048781e+03,7.459227e+02,4051.000000,0.000000,0.000000,285.733067,76.838500,218.868500,2.477042e+03,...,31.675202,-101.947623,147348.500000,31.676249,-101.948102,107.657090,27.559452,55.000000,1.827793e+03,2013.000000
75%,4.238339e+13,1.509654e+03,1.495726e+03,7001.500000,0.000000,0.000000,660.607700,167.861750,529.526250,5.370206e+03,...,31.986593,-101.530365,152325.750000,31.991514,-101.531618,204.984171,63.993360,92.000000,4.239073e+03,2015.000000
max,4.250137e+13,7.646000e+06,7.497903e+06,13815.000000,70.000000,72.700000,9358.215000,3846.625000,80091.790000,6.044117e+10,...,33.834820,-100.399997,157521.000000,33.836550,-100.399927,13345.776667,467575.734583,747.000000,inf,2018.000000

## Visualize Data

### Attribute Histograms

### Pairwise Scatterplots of Attributes